@model BoekingViewModel

<h2>Nieuwe Boeking</h2>
<form asp-action="Create" method="post">
    <div>
        <label>Datum</label>
        <input asp-for="Datum" type="date" />
    </div>
    <div>
        <label>ContactNaam</label>
        <input asp-for="ContactNaam" />
    </div>
    <div>
        <label>ContactAdres</label>
        <input asp-for="ContactAdres" />
    </div>
    <div>
        <label>ContactEmail</label>
        <input asp-for="ContactEmail" />
    </div>
    <div>
        <label>ContactTelefoonnummer</label>
        <input asp-for="ContactTelefoonnummer" />
    </div>
    <div>
        <label>TotaalPrijs</label>
        <input asp-for="TotaalPrijs" />
    </div>
    <button type="submit">Boek</button>
</form>