@model AccountViewModel

<h2>Account Aangemaakt</h2>
<p>Het gegenereerde wachtwoord is: <strong>@ViewBag.Wachtwoord</strong></p>
<a href="@Url.Action("Index", "Home")" class="uk-button uk-button-default">Terug naar Home</a>